* {
    margin: 0;
}

.work_space_wrapper {
    margin: 20px auto;
    width: 240px;

}

.work_space {
    border: 1px solid gray;
    background-color: #dfa;
    padding: 10px 20px;
    width: 200px;
    height: 150px;
    vertical-align: middle;
    display: table-cell;
    font-size: 32px;
    font-family: "Times New Roman";
    text-align: center;
}